USE [master]
GO
/****** Object:  Database [Rehber_DB]    Script Date: 17.01.2020 20:00:52 ******/
CREATE DATABASE [Rehber_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Rehber_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Rehber_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Rehber_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Rehber_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rehber_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rehber_DB]
GO
/****** Object:  Table [dbo].[tblAdmin]    Script Date: 17.01.2020 20:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdmin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [varchar](50) NOT NULL,
	[Sifre] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblAdmin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCalisan]    Script Date: 17.01.2020 20:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCalisan](
	[CalisanID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[Telefon] [varchar](50) NOT NULL,
	[Departman] [int] NULL,
	[Yonetici] [int] NULL,
 CONSTRAINT [PK_tblCalisan] PRIMARY KEY CLUSTERED 
(
	[CalisanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblDepartman]    Script Date: 17.01.2020 20:00:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDepartman](
	[DepartmanID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](50) NOT NULL,
 CONSTRAINT [PK_tblDepartman] PRIMARY KEY CLUSTERED 
(
	[DepartmanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblCalisan]  WITH CHECK ADD  CONSTRAINT [FK_tblCalisan_tblCalisan] FOREIGN KEY([Yonetici])
REFERENCES [dbo].[tblCalisan] ([CalisanID])
GO
ALTER TABLE [dbo].[tblCalisan] CHECK CONSTRAINT [FK_tblCalisan_tblCalisan]
GO
ALTER TABLE [dbo].[tblCalisan]  WITH CHECK ADD  CONSTRAINT [FK_tblCalisan_tblDepartman] FOREIGN KEY([Departman])
REFERENCES [dbo].[tblDepartman] ([DepartmanID])
GO
ALTER TABLE [dbo].[tblCalisan] CHECK CONSTRAINT [FK_tblCalisan_tblDepartman]
GO
USE [master]
GO
